.header
{
    display: flex;

    min-height: 100vh;
    padding: 100px 0;

    background-color: $color-primary;
    background-image: url(../img/img-header.png);
    background-position: 50% 50%;
    background-size: cover;

    align-items: center;
}
